<ol class="breadcrumb">
    <li><a ng-link="['../AdminTasks']">Admin Tasks</a></li>
    <li class="active">Add Season</li>
</ol>
<h2 class="page-header">Add Season</h2>
<div class="well clearfix">
    <form name="seasonEntryForm" novalidate autocomplete="off">
        <div class="form-row">
            <!--Replace with 2 textboxes separated with a / or add a formatted textbox-->
            <div class="col-md-4">
                <label for="inputDescription" class="sr-only">Seson description</label>
                <input type="text" class="form-control" id="inputDescription" aria-describedby="descriptionHelp"
                    placeholder="Season description" required>
                <span id="descriptionHelp" class="help-block">Enter season description in the format YY/YY i.e.
                    18/19</span>
            </div>
            <div class="col-md-1">
                <!-- <button type="button" class="btn btn-primary" ng-class="{'disabled': matchEntryForm.$invalid}"
                        ng-click="model.addMatchEntry(model.entryToAdd, matchEntryForm)"
                        ng-disabled="matchEntryForm.$invalid">Add</button> -->
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>Id</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="season in model.seasons | orderBy:'description'">
                <td>{{season.id}}</td>
                <td>{{season.season}}</td>
            </tr>
        </table>
    </div>
</div>