<h2 class="page-header">Seasons</h2>
<div class="row bottom-spacer">
    <div class="col-md-offset-10 col-md-2">
        <a href="/admin/seasons/add" class="btn btn-default" role="button">Add Season</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>Id</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="season in model.seasons | orderBy:'description'">
                <td>{{season.id}}</td>
                <td>{{season.description}}</td>
            </tr>
        </table>
    </div>
</div>