<h2 class="page-header">Administration Tasks</h2>
<div class="row ">
    <div class="col-md-4 admin-title">
        <h3>Anglers</h3>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <h4><a ng-link="['AdminAnglers']">View Anglers</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a ng-link="['AdminAnglerAdd']">Add new Angler</a></h4>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 admin-title">
        <h3>Seasons</h3>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <h4><a ng-link="['AdminSeasons']">View Seasons</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a ng-link="['AdminSeasonAdd']">Add new Season</a></h4>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 admin-title">
        <h3>Leagues</h3>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <h4><a ng-link="['AdminLeagues']">View Leagues</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a ng-link="['AdminLeagueAdd']">Add new League</a></h4>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 admin-title">
        <h3>Match</h3>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <h4><a ng-link="['AdminMatches']">View Matches</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a ng-link="['AdminMatchAdd']">Add new Match</a></h4>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 admin-title">
        <h3>Match Entries</h3>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <h4><a ng-link="['AdminMatchEntries']">View Match Entry</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a ng-link="['AdminMatchEntryAdd']">Add new Match Entry</a></h4>
            </div>
        </div>

    </div>
</div>