<h2 class="page-header">Administration Tasks</h2>
<div class="row ">
    <div class="col-md-4 admin-title">
        <h3>Anglers</h3>
    </div>
    <div class="col-md-8">
        <h4><a ng-link="['AdminAnglerAdd']">Add Angler</a></h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 admin-title">
        <h3>Seasons</h3>
    </div>
    <div class="col-md-8">
        <h4><a ng-link="['AdminSeasonAdd']">Add Season</a></h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 admin-title">
        <h3>Leagues</h3>
    </div>
    <div class="col-md-8">
        <h4><a ng-link="['AdminLeagueAdd']">Add League</a></h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 admin-title">
        <h3>Match</h3>
    </div>
    <div class="col-md-8">
        <h4><a ng-link="['AdminMatchAdd']">Add Match / Match Results</a></h4>
    </div>
</div>