<h2 class="page-header">{{model.match.leagueMatchNo}} {{model.match.league}} <span ng-if="model.match.isTropheyMatch"> / {{model.match.trophyName}}</span></h2>
<div class="row">
    <div class="col-md-2">
        <strong>Season</strong>
    </div>
    <div class="col-md-10">
        {{model.match.season}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong>Date</strong>
    </div>
    <div class="col-md-10">
        {{model.match.date | date:'dd-MMM-yyyy'}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong>Venue</strong>
    </div>
    <div class="col-md-10">
        {{model.match.venue}} - {{model.match.lake}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong>League</strong>
    </div>
    <div class="col-md-10">
        {{model.match.league}}

    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong>No of Pegs</strong>
    </div>
    <div class="col-md-10">
        {{model.match.noOfPegs}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong>Pools Fee</strong>
    </div>
    <div class="col-md-10">
        {{model.match.poolsFee | currency: "£"}}
    </div>
</div>
<div class="row bottom-spacer">
    <div class="col-md-2">
        <strong>Day Ticket Fee</strong>
    </div>
    <div class="col-md-10">
        {{model.match.dayTicketFee | currency: "£"}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a ng-link="['../../Matches']" class="btn btn-primary">Back to matches</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4 class="page-header">
            Anglers
        </h4>
        <table class="table table-striped table-hover">
            <tr>
                <th>Peg</th>
                <th>Angler</th>
                <th>Weight</th>
                <th>Position</th>
                <th>Points</th>
            </tr>
            <tr ng-repeat="angler in model.match.anglers">
                <td>{{angler.peg}}</td>
                <td>{{angler.name}}</td>
                <td>{{angler.weight}}</td>
                <td>{{angler.position}}</td>
                <td>{{angler.points}}</td>
            </tr>
        </table>
    </div>
</div>