<ol class="breadcrumb">
    <li><a ng-link="['../AdminTasks']">Admin Tasks</a></li>
    <li class="active">Add Match / Match Results</li>
</ol>
<h2 class="page-header">Add Match / Match Results</h2>

<div class="well">
    <div class="row">
        <div class="col-md-11">
            <h4 class="expander collapse in">Expand to enter a new match</h4>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary" data-toggle="collapse" data-target=".expander" aria-expanded="false"
                ng-click="isCollapsed = !isCollapsed">
                <span
                    ng-class="{'glyphicon glyphicon-chevron-up': isCollapsed, 'glyphicon glyphicon-chevron-down': !isCollapsed}"></span>
            </button>
        </div>
    </div>
    <form id="matchEntry" name="matchEntryForm" class="expander form-horizontal collapse" novalidate autocomplete="off">
        <div class="row">
            <!-- "id": 20,
                "seasonId": 5,
                "leagueId": 8,
                "positionToPointsMappingId": 1, -->
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-3" for="inputVenue">Venue name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="inputVenue" name="inputVenue" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="inputLake">Lake name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="inputLake" name="inputLake" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="inputSeason">Season</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="inputSeason" name="inputSeason" required>
                    </div>
                    <label class="control-label col-md-2" for="inputDate">Match Date</label>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="inputDate" name="inputDate" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="inputLeagueMatchNo">League Match No.</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control" id="inputLeagueMatchNo" name="inputLeagueMatchNo">
                    </div>
                    <div class="col-md-7">
                        <label class="sr-only" for="inputLeague">League name</label>
                        <input type="text" class="form-control" id="inputLeague" name="inputLeague"
                            placeholder="League name" required>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-3">Trophey match</label>
                    <div class="col-md-2">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default"><input type="radio">Yes</label>
                            <label class="btn btn-default active"><input type="radio">No</label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <label class="sr-only" for="inputTropheyName">Trophey name</label>
                        <input type="text" class="form-control" id="inputTropheyName" name="inputTropheyName"
                            placeholder="Trophey name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Pairs match</label>
                    <div class="col-md-2">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default"><input type="radio">Yes</label>
                            <label class="btn btn-default active"><input type="radio">No</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="inputNoOfPegs">No. of pegs</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control" id="inputNoOfPegs" name="inputNoOfPegs" min=1
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="inputPegFee">Peg fee</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control" id="inputPegFee" name="inputPegFee" required>
                    </div>
                    <label class="control-label col-md-2" for="inputPoolsFee">Pools fee</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control" id="inputPoolsFee" name="inputPoolsFee" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-offset-11">
                <!-- <button type="button" class="btn btn-primary" ng-class="{'disabled': matchEntryForm.$invalid}"
                                        ng-click="model.addMatchEntry(model.entryToAdd, matchEntryForm)"
                                        ng-disabled="matchEntryForm.$invalid">Add</button> -->
                <button type="button" class="btn btn-primary">Add Match</button>
            </div>

        </div>
        <!-- <div class="col-md-1"
                    ng-class="{'has-error': matchEntryForm.inputPeg.$invalid && matchEntryForm.inputPeg.$dirty}">
                    <label class="sr-only" for="inputPeg">Peg</label>
                    <input type="number" class="form-control" id="inputPeg" name="inputPeg" placeholder="Peg"
                        ng-model="model.entryToAdd.peg" min=1 required peg-validator>
                    <div ng-messages="matchEntryForm.inputPeg.$error" ng-show="matchEntryForm.inputPeg.$dirty">
                        <div ng-message="required" class="text-danger">
                            Peg is required</div>
                        <div ng-message="min" class="text-danger">
                            Peg must be greater than 0</div>
                        <div ng-message="invalidPeg" class="text-danger">
                            Peg already entered</div>
                    </div>
                </div> -->



        <!-- <div class="col-md-5"
                ng-class="{'has-error': matchEntryForm.inputAnglerName.$invalid && matchEntryForm.inputAnglerName.$dirty}">
                <label class="sr-only" for="inputAnglerName">Angler name</label>
                <select angler-validator class="form-control" id="inputAnglerName" placeholder="Angler name"
                    name="inputAnglerName" ng-model="model.entryToAdd.selectedAngler"
                    ng-options="angler.forename + ' ' + angler.surname for angler in model.anglers | orderBy:'forename'"></select>
    
                <div ng-messages="matchEntryForm.inputAnglerName.$error" ng-show="matchEntryForm.inputAnglerName.$dirty">
                    <div ng-message="required" class="text-danger">
                        Angler name is required.</div>
                    <div ng-message="invalidAngler" class="text-danger">
                        Angler already entered</div>
                </div>
            </div>
            <div class="col-md-1"
                ng-class="{'has-error': matchEntryForm.inputWeightPounds.$invalid && matchEntryForm.inputWeightPounds.$dirty}">
                <label class="sr-only" for="inputWeightPounds">Weight pounds</label>
                <input type="number" class="form-control" id="inputWeightPounds" name="inputWeightPounds" placeholder="Lbs"
                    ng-model="model.entryToAdd.pounds" min=0 required>
                <div ng-messages="matchEntryForm.inputWeightPounds.$error"
                    ng-show="matchEntryForm.inputWeightPounds.$dirty">
                    <div ng-message="required" class="text-danger">
                        Pounds are required.</div>
                    <div ng-message="min" class="text-danger">
                        Pounds must be 0 or greater</div>
                </div>
            </div>
            <div class="col-md-1"
                ng-class="{'has-error': matchEntryForm.inputWeightOunces.$invalid && matchEntryForm.inputWeightOunces.$dirty}">
                <label class="sr-only" for="inputWeightOunces">Weight ounces</label>
                <input type="number" class="form-control" id="inputWeightOunces" name="inputWeightOunces" placeholder="Oz"
                    ng-model="model.entryToAdd.ounces" min=0 max=15 required>
                <div ng-messages="matchEntryForm.inputWeightOunces.$error"
                    ng-show="matchEntryForm.inputWeightOunces.$dirty">
                    <div ng-message="required" class="text-danger">
                        Ounces are required.</div>
                    <div ng-message="min" class="text-danger">
                        Ounces must be 0 or greater</div>
                    <div ng-message="max" class="text-danger">
                        Ounces must be 15 or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" ng-class="{'disabled': matchEntryForm.$invalid}"
                    ng-click="model.addMatchEntry(model.entryToAdd, matchEntryForm)"
                    ng-disabled="matchEntryForm.$invalid">Add</button>            
            </div> -->
    </form>
</div>

<ul class="nav nav-pills bottom-spacer">
    <li role="presentation" ng-class="model.isSeasonSelected(season) ? 'Active' : ''"
        ng-repeat="season in model.seasons">
        <a ng-click="model.onSelectSeason(season)">{{season}}</a>
    </li>
</ul>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>Date</th>
                <th>Match</th>
                <th>Venue</th>
                <th>Lake</th>
                <th>Pegs</th>
                <th>Peg Fee</th>
                <th>Pools</th>
                <th></th>
            </tr>
            <tr ng-repeat="match in model.matches | matchFilter: model.selectedSeason:searchText | orderBy:'date'">
                <td>{{match.date | date:'dd-MMM-yyyy'}}</td>
                <td>{{match.league}} {{match.leagueMatchNo}}<span ng-if="match.isTrophyMatch"><span
                            ng-if="match.league"> / </span>{{match.trophyName}}</span> </td>
                <td>{{match.venue}}</td>
                <td>{{match.lake}}</td>
                <td>{{match.noOfPegs}}</td>
                <td>{{match.dayTicketFee | currency: "£"}}</td>
                <td>{{match.poolsFee | currency: "£"}}</td>
                <td>
                    <a ng-click="model.onSelectMatch(match)" class="btn btn-sm btn-primary"><span
                            class="glyphicon glyphicon-plus" aria-hidden="true"></span> Results</a>
                </td>
            </tr>
        </table>
    </div>
</div>