<ol class="breadcrumb">
    <li><a ng-link="['../../Home']">Home</a></li>
    <li><a ng-link="['../../Championships']">Championships</a></li>
    <li class="active">Championship Details</li>
</ol>
<h2 class="page-header">{{model.season.description}} Championship</h2>
<h4 class="page-header">
    Championship Results
</h4>
<div class="scrolling outer" ng-show="model.anglers.length > 0">
    <div class="inner">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm table-condensed">
                <tr>
                    <th>
                        Round
                    </th>
                    <td class="h-header" colspan="2" ng-repeat="match in model.rounds">
                        {{match.number}}
                    </td>
                    <td class="h-header" rowspan="2">
                        Matches fished
                    </td>
                    <td class="h-header" rowspan="2">
                        Avg. Pnts.
                    </td>
                    <td class="h-header" rowspan="2">
                        Weight total
                    </td>
                    <td class="h-header" rowspan="2">
                        Points total
                    </td>
                    <td class="h-header" rowspan="2">
                        Pos.
                    </td>
                </tr>
                <tr>
                    <th>
                        Angler
                    </th>
                    <td class="weight h-header" ng-repeat-start="match in model.rounds">
                        Weight
                    </td>
                    <td class="points h-header" ng-repeat-end>
                        Pnts
                    </td>
                </tr>
                <tr ng-repeat="angler in model.anglers| orderBy:['-pointsTotal','-weightTotal']">
                    <th>{{angler.name}}</th>
                    <td class="weight" ng-repeat-start="round in angler.rounds">
                        {{round.weight| weightToText}}
                    </td>
                    <td class="points" ng-repeat-end>
                        {{round.points}}
                    </td>
                    <td>{{angler.matchCount}}</td>
                    <td class="points">{{angler.pointsTotal / angler.matchCount | number :2 }}</td>
                    <td class="weight">{{angler.weightTotal | weightToText}}</td>
                    <td class="points">{{angler.pointsTotal}}</td>
                    <td><span class="badge badge-primary">{{$index + 1}}</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div ng-hide="model.anglers.length > 0">
    <div class="alert alert-info">No Champsionship Results</div>
</div>