<h2 class="page-header">Anglers</h2>
<ul class="nav nav-pills bottom-spacer">
    <li role="presentation" ng-class="model.isLetterSelected(letter) ? 'Active' : ''" ng-repeat="letter in model.letters">
        <a ng-click="model.onSelectLetter(letter)">{{letter}}</a>
    </li>
</ul>
<div class="well well-sm bottom-spacer">
    <input type="text" class="form-control" id="searchText" placeholder="Search name" ng-model="searchText">
</div>
<table class="table">
    <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Nickname</th>
        <th></th>
    </tr>
    <tr ng-repeat="angler in model.anglers | anglerFilter: model.selectedLetter:searchText | orderBy:'forename' as results">
        <td>{{angler.forename}}</td>
        <td>{{angler.surname}}</td>
        <td>{{angler.nickname}}</td>
        <td>
            <a ng-click="model.onSelectAngler(angler)" class="btn btn-primary">Details</a>
        </td>
    </tr>
</table>