<h2 class="page-header">Leagues</h2>
<ul class="nav nav-pills bottom-spacer">
    <li role="presentation" ng-class="model.isSeasonSelected(season) ? 'Active' : ''" ng-repeat="season in model.seasons">
        <a ng-click="model.onSelectSeason(season)">{{season}}</a>
    </li>
</ul>
<div class="well well-sm bottom-spacer">
    <input type="text" class="form-control" id="searchText" placeholder="Search league" ng-model="searchText">
</div>
<ul>
    <li class="list-unstyled" ng-repeat="league in model.leagues | filter: {season: model.selectedSeason}">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5><strong> {{league.name}} for season {{league.season}}</strong></h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            No of Rounds:
                        </div>
                        <div class="col-md-7">
                            {{league.noOfRounds}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            Counting rounds:
                        </div>
                        <div class="col-md-7">
                            {{league.countingRounds}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a ng-click="model.onSelectLeague(league)" class="btn btn-primary">Results</a>
                </div>
            </div>
        </div>
    </li>
</ul>
<!--<table class="table">
    <tr>
        <th>Season</th>
        <th>Name</th>
        <th>No. of Rnds</th>
        <th>Counting Rnds</th>
        <th></th>
    </tr>
    <tr ng-repeat="league in model.leagues | filter: {season: model.selectedSeason}">
        <td>{{league.season}}</td>
        <td>{{league.name}}</td>
        <td>{{league.noOfRounds}}</td>
        <td>{{league.countingRounds}}</td>
        <td>
            <a ng-click="model.onSelectLeague(league)" class="btn btn-primary">Details</a>
        </td>
    </tr>
</table>-->