<ol class="breadcrumb">
    <li><a ng-link="['../../Home']">Home</a></li>
    <li><a ng-link="['../../Anglers']">Anglers</a></li>
    <li class="active">Angler Details</li>
</ol>
<h2 class="page-header">{{model.angler.forename}} <span
        ng-if="model.angler.nickname">"</span>{{model.angler.nickname}}<span ng-if="model.angler.nickname">"</span>
    {{model.angler.surname}}</h2>
<h4 class="page-header">
    Match Results
</h4>
<div ng-show="model.matches.length > 0" class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills bottom-spacer">
            <li role="presentation" ng-class="model.isSeasonSelected(season) ? 'Active' : ''"
                ng-repeat="season in model.seasons">
                <a ng-click="model.onSelectSeason(season)">{{season}}</a>
            </li>
        </ul>
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>Date</th>
                <th>Match</th>
                <th>Venue</th>
                <th>lake</th>
                <th>Peg</th>
                <th>Weight</th>
                <th>Points</th>
                <th>Position</th>
            </tr>

            <tr ng-repeat="match in model.matches | matchFilter: model.selectedSeason:searchText | orderBy:'date'">
                <td>{{match.date | date:'dd-MMM-yyyy'}}</td>
                <td>{{match.leagueMatchNo}} {{match.league}} <span
                        ng-if="match.isTrophyMatch">{{match.trophyName}}</span>
                </td>
                <td>{{match.venue}}</td>
                <td>{{match.lake}}</td>
                <td>{{match.matchEntries[0].peg}}</td>
                <td>{{match.matchEntries[0].weight| weightToText}}</td>
                <td>{{match.matchEntries[0].points}}</td>
                <td><span class="badge">{{match.matchEntries[0].position}}</span></td>
            </tr>
        </table>
    </div>
</div>
<div ng-hide="model.matches.length > 0" class="alert alert-info">No Match results</div>